head {
  color: rgb(020,100,002)
}
body {
          color: rgb(0,0,0); //values go from 0 to 255
          font-family: arial;
          margin: 0.5px;
          text-align: center;
          background-size: cover;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
}
div{
          box-sizing: border-box;
}
h1 {
          font-size: 5em;
          color: rgb(0, 51, 0);
}
.second {
        font-size: 3em
}
h2 {
          text-align: center;
          font-size: 2.5em;
}

img{
          display: static;
          padding: 20px;
          margin: 0 auto;
          border-radius:100px;
          max-height: 170px;
}

.footerr{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.hover1:hover {

      font-size:2em;
}
a{
      color:rgb(1,1,1);
}

div.contrast {
      background-color: rgb(0,0,0);
      color: rgb(1,1,1);
      display: flex;
      justify-content: center;
      align-items:center;
      flex-direction:column;
}
ul {
      list-style:none;
      display:flex;
}
li {
      margin: 0 20px;
      transition: 0.6s ease;
}
li:hover {
      font-size:1.2em;
      transition: 0.6s ease;
}
.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}
.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}
.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
}
.social{
  background-color:rgb(020,100,002);
}
.para{
  color: rgb(0, 51, 0);
}
.note, .notes {
    color: white;
}
.notes {
    font-size: 1em;
}
input {
  margin: 10px;
}
.# {
  colour: rgb(0, 51, 0);
}
